---
const {headerText, links} = Astro.props;
// const links = [{'url': "/", 'displayText':'Home'}];
---

<h2 class="navDropdownHeader">{headerText}</h2>
<div class="navDropdown">
    <ul>
        <!-- {links.map((link) => <li class="navLink"><a href={link.url}>{link.displayText}</a></li>)} -->
    </ul>
</div>
