---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import logoImage from "../assets/images/logoLong2024.jpg"; // Image is 1600x900
import { Image } from 'astro:assets';
---

<style>
  header{
    display: flex;
    align-items: center;
    margin: 0;
    height: 91px;
  }

  #logoImageContainer{
    display: flex;
    align-items: center;  
    justify-content: center;
    border-radius: 0px 8px 8px 8px;
    margin-left: 4.5px;
    width: 30%;
    max-width: 330px;
    height: 82px;
    text-align: center;
  }

  #logoImageContainer img{
    max-width: 90%;
    height: auto;
  }

  @media only screen and (max-width: 1023px) {   

    header{
      flex-wrap: wrap;
    }

    #logoImageContainer{
      width: calc(85% - 5px);
      max-width: unset;
    }

    #logoImageContainer img{
      max-width: min(350px, 95%);
    }

  }

</style>

<header class="blackBackground">
    <a id="logoImageContainer" class="yellowBackground" href="/">
      <div class="centeredContainer" >
          <Image src={logoImage} alt="Lockhouse Escape Games Logo" />
      </div>
    </a>
    <Hamburger />
    <Navigation />
</header>