---
import '../styles/global.css';
import Header from '../components/Navigation/Header.astro';
import Footer from '../components/Navigation/Footer2.astro';
const { pageTitle, canonical } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonical}>
    <title>{pageTitle}</title>

    <link
    as="font"
    crossorigin
    href="../fonts/cabin.woff2"
    rel="preload"
    type="font/woff2"
    />    

    <link
    as="font"
    crossorigin
    href="../fonts/icons.ttf"
    rel="preload"
    type="font/ttf"
    />    

    <slot name="aboveFoldStyles" />

  </head>
  <body>
    <Header />
    <slot  />
    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>